@charset "UTF-8";

table.st-tbl1 {
    position: relative;
}

table.st-tbl1 th {
    position: sticky;
    top: 0px;
    z-index: 1;
}

#itemTable tr:not(.selected-row):hover td {
    background-color: lightgray;
}

.selected-row td {
    background-color: lightgray;
}


input[type="checkbox"]{
  transform: scale(2);
  cursor: pointer;
}