@charset "UTF-8";

.subImageOpacity{
	opacity: 0.5;
	transition-duration: 0.3s;
}

.sizeHover{
	background-color: #e5ccff;
	color: black;
}

input[type="number"]::-webkit-outer-spin-button, 
input[type="number"]::-webkit-inner-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
} 

.bi-dash-circle-fill{
	color: #9933ff;
}

.bi-plus-circle-fill{
	color: #9933ff;
}
