<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>EditUserInfoServlet</display-name>
    <servlet-name>EditUserInfoServlet</servlet-name>
    <servlet-class>controller.admin.EditUserInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditUserInfoServlet</servlet-name>
    <url-pattern>/EditUserInfoServlet</url-pattern>
  </servlet-mapping>
  <display-name>donkoProject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>RegistItemServlet1</servlet-name>
    <servlet-class>controller.admin.RegistItemServlet1</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ItemDetailServlet</servlet-name>
    <servlet-class>controller.customer.ItemDetailServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EditItemInfo2Servlet</servlet-name>
    <servlet-class>controller.admin.EditItemInfo2Servlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserSigninServlet</servlet-name>
    <servlet-class>controller.user.UserSigninServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CreateShippingAddressServlet</servlet-name>
    <servlet-class>controller.customer.CreateShippingAddressServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserSignupServlet</servlet-name>
    <servlet-class>controller.user.UserSignupServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>controller.user.LogoutServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RegistItemServlet2</servlet-name>
    <servlet-class>controller.admin.RegistItemServlet2</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CategoryServlet</servlet-name>
    <servlet-class>controller.customer.CategoryServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PurchaseHistoryServlet</servlet-name>
    <servlet-class>controller.admin.PurchaseHistoryServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>OptionServlet</servlet-name>
    <servlet-class>controller.customer.OptionServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EditShippingAddressServlet</servlet-name>
    <servlet-class>controller.customer.EditShippingAddressServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ShippingServlet</servlet-name>
    <servlet-class>controller.admin.ShippingServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>OrderDetailServlet</servlet-name>
    <servlet-class>controller.customer.OrderDetailServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PurchaseDetaiServlet</servlet-name>
    <servlet-class>controller.admin.PurchaseDetaiServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PurchaseConfirmServlet</servlet-name>
    <servlet-class>controller.customer.PurchaseConfirmServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ShippingAddressIndexServlet</servlet-name>
    <servlet-class>controller.customer.ShippingAddressIndexServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteItemIndexServlet</servlet-name>
    <servlet-class>controller.admin.DeleteItemIndexServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteUserInfoServlet</servlet-name>
    <servlet-class>controller.admin.DeleteUserInfoServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EditItemInfo1Servlet</servlet-name>
    <servlet-class>controller.admin.EditItemInfo1Servlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>HomeServlet</servlet-name>
    <servlet-class>controller.customer.HomeServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AdminSigninServlet</servlet-name>
    <servlet-class>controller.admin.AdminSigninServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CartServlet</servlet-name>
    <servlet-class>controller.customer.CartServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AdminTopPageServlet</servlet-name>
    <servlet-class>controller.admin.AdminTopPageServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteCartServlet</servlet-name>
    <servlet-class>controller.customer.DeleteCartServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MyPageServlet</servlet-name>
    <servlet-class>controller.customer.MyPageServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserInfoEditServlet</servlet-name>
    <servlet-class>controller.customer.UserInfoEditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistItemServlet1</servlet-name>
    <url-pattern>/registItem1</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ItemDetailServlet</servlet-name>
    <url-pattern>/itemDetail</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EditItemInfo2Servlet</servlet-name>
    <url-pattern>/editItemInfo2</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserSigninServlet</servlet-name>
    <url-pattern>/userSignin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CreateShippingAddressServlet</servlet-name>
    <url-pattern>/createShippingAddress</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserSignupServlet</servlet-name>
    <url-pattern>/userSignup</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegistItemServlet2</servlet-name>
    <url-pattern>/registItem2</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CategoryServlet</servlet-name>
    <url-pattern>/category</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PurchaseHistoryServlet</servlet-name>
    <url-pattern>/purchaseHistory</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OptionServlet</servlet-name>
    <url-pattern>/option</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EditShippingAddressServlet</servlet-name>
    <url-pattern>/editShippingAddress</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShippingServlet</servlet-name>
    <url-pattern>/shipping</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OrderDetailServlet</servlet-name>
    <url-pattern>/orderDetail</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PurchaseDetaiServlet</servlet-name>
    <url-pattern>/purchaseDetail</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PurchaseConfirmServlet</servlet-name>
    <url-pattern>/purchaseConfirm</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShippingAddressIndexServlet</servlet-name>
    <url-pattern>/shippingAddressIndex</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteItemIndexServlet</servlet-name>
    <url-pattern>/deleteItemIndex</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteUserInfoServlet</servlet-name>
    <url-pattern>/deleteUserInfoIndex</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EditItemInfo1Servlet</servlet-name>
    <url-pattern>/editItemInfo1</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HomeServlet</servlet-name>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminSigninServlet</servlet-name>
    <url-pattern>/adminSignin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CartServlet</servlet-name>
    <url-pattern>/cart</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminTopPageServlet</servlet-name>
    <url-pattern>/adminTopPage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteCartServlet</servlet-name>
    <url-pattern>/deleteCart</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MyPageServlet</servlet-name>
    <url-pattern>/myPage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserInfoEditServlet</servlet-name>
    <url-pattern>/userInfoEdit</url-pattern>
  </servlet-mapping>
</web-app>